.css-container {
  .banner {
    width: 100%;
    height: 440px;
    margin: 0 auto;
    background:skyblue url(https://public.fuyoukache.com/87453203-ce87-423e-b377-f04555aa0b3b---QQ20190829-0.JPG) no-repeat;
    background-size: cover;
    background-position: left center;
  }
  canvas  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .content-wrapper {
    width: 800px;
    margin: 0 auto;
  }
}