.article-container {
  .banner {
    width: 100%;
    height: 440px;
    margin: 0 auto;
    background:skyblue url(../../../public/image/article-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: left center;
  }
  .content-wrapper {
    width: 800px;
    margin: 0 auto;
    padding:32px 0;
  }
}

@media screen and (max-width: 600px){
  .article-container {
    .banner {
      height: 200px;
      margin-top: 58px;
    }
    .content-wrapper{
      width: 100%;
      padding: 32px 20px;
    }
  }
}